<div class='user-pic'>
  <%= image_tag current_user.profile_pic %>
</div>
<h1><%= current_user.name %></h1>

<h4>Number of Starred Repo: <%= @profile.num_starred %></h4>
<h4>Followers:</h4>
<% @profile.followers.each do |follower| %>
  <ul class='follower'>
    <li><%= follower.name %></li>
  </ul>
<% end %>

<h4>Following:</h4>
<% @profile.following.each do |following| %>
  <ul class='following'>
    <li><%= following.name %></li>
  </ul>
<% end %>

<h4>Organizations:</h4>
<% @organizations.each do |organization| %>
  <ul class='organization'>
    <li><%= organization %></li>
  </ul>
<% end %>

<h4>Repositories:</h4>
<% @profile.repositories.each do |repository| %>
  <ul class='repository'>
    <li><%= repository.title %></li>
  </ul>
<% end %>

<%= link_to 'Recent Activity', user_recent_activity_path(current_user) %>
