<!DOCTYPE html>
<html>
  <head>
    <title>MinimalHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav>
    <% if current_user%>
      <%= link_to 'Log Out', logout_path %>
    <% else %>
      <%= link_to 'Log In with GitHub', 'https://github.com/login/oauth/authorize?client_id=e8c145f231b53cda741d&scope=repo' %>
    <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
